/*.home {
  max-width: 1398px;
  margin: 0 auto;
}*/

img.cover-photo {
  position: relative;
  width: 100%;
}

@keyframes appearFromNowhere {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-headline {
  animation: 2s ease-in-out 0s 1 appearFromNowhere;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 5rem;
  left: 0;
  width: 100%;
  font-size: 4rem;
  font-family: 'Lato', sans-serif;
}

.info-block {
  width: 100%;
  text-align: center;
}
.info-title {
  animation: 1s ease-in-out 0s 1 appearFromNowhere;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 0;
}
.info-title.rsvp {
  font-size: 3rem;
  border-top: .5rem solid #f1e3dd;
  border-bottom: .5rem solid #f1e3dd;
}
a.rsvp {
  text-decoration: none;
  color: white;
}
.info-description {
  font-size: 1.25rem;
  font-family: sans-serif;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1rem;
  line-height: 1.75rem;
}
/*.info-description.text-left {
  text-align: left;
  width: 55%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/
.info-split-left {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 2rem auto;
}
.info-photo.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info-description.text-right,
.info-description.text-left {
  text-align: left;
  width: 55%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.info-split-right {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 2rem auto;
}
.info-photo.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info-description-inset {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
img.info-photo-inset {
  width: 100%;
}
img.info-description-inset.logos {
  width: 100%;
  height: 100%;
}
.info-description-inset-link {
  width: 40%;
}
.links {
  display: flex;
  height: 3.25rem;
  justify-content: center;
}
a.location-link {
  cursor: pointer;
  color: blanchedalmond;
  font-size: 2rem;
  text-decoration: none;
  background-color: #667292;
  margin: 0 1.5rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
}
.about-us-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.about-us-person {
  width: 47%;
}
.about-us-title {
  font-size: 1.5rem;
}
.about-us-text {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
.about-us-photo-container {
  width: 100%;
  margin-top: 1.5rem;
}
img.about-us-photo {
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
}
.info-block.rsvp {
  height: 100%;
}

/* HEADER */
.header {
  background-color: #e2c5b9;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  overflow: scroll;
}
.header-link {
  cursor: pointer;
  padding-right: 1rem;
  text-decoration: none;
  color: #474f66;
  font-size: 1.25rem;
  text-transform: uppercase;
}
div.header-link {
  color: #e0e2e9;
}
.header-link.active {
  color: #a3aabd;
}

/* FOOTER */
.footer {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
}
.footer-text {
  padding-bottom: 1rem;
}
.bunny-link {
  color: white;
  text-decoration: none;
}

/* COLORS */
.bg-lt-grey {
  background-color: #bccad6;
}
.bg-md-grey {
  background-color: #8d9db6;
}
.bg-dk-grey {
  background-color: #667292;
  color: white;
}
.bg-peach {
  background-color: #f1e3dd;
}
.bg-brown {
  background-color: #534F49;
}

/* WIDE SCREEN */
@media only screen and (min-width: 1250px) {
  .info-photo-inset {
    margin: 0.5rem auto;
  }
}

/* TABLET */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .home-headline {
    top: 1rem;
    font-size: 2.5rem;
  }
}

/* MOBILE */
@media only screen and (max-width: 425px) {
  .home-headline {
    top: 2rem;
    font-size: 1.35rem;
  }
  .info-title {
    font-size: 1.25rem;
  }
  .info-description {
    width: 90%;
    font-size: 1rem;
  }
  .info-split-left,
  .info-split-right {
    flex-direction: column;
    margin: 1rem auto;
  }
  .info-photo.left,
  .info-photo.right {
    width: 100%;
  }
  .info-description.text-left,
  .info-description.text-right {
    text-align: left;
    width: 90%;
    margin: 1rem auto 0;
  }
  .info-photo-inset {
    margin: 0.5rem auto;
  }
  .info-description-inset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img.info-description-inset.logos {
    width: 100%;
    height: 100%;
  }
  .links {
    flex-direction: column;
    height: 9rem;
  }
  .about-us-container {
    display: inherit;
    padding-top: 0;
  }
  .about-us-person {
    width: 100%;
    padding-top: 2rem;
  }
  .about-us-title {
    padding-top: 2rem;
    color: blue;
  }
}
